body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 10px;
}

.home-link, .logout-link, .login-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.profile-container {
    text-align: center;
    padding: 20px;
}

.avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-section .avatar-image {
    width: 150px; /* Фиксированная ширина */
    height: 150px; /* Фиксированная высота */
    border-radius: 50%; /* Круглое изображение */
    border: 3px solid #333;
    object-fit: cover; /* Подгонка изображения */
}

.username {
    margin: 10px 0;
}

.status {
    font-size: 14px;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.info-section .email {
    margin: 10px 0;
}

.add-friend-form {
    margin-top: 20px;
}

.add-friend-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-friend-btn:hover {
    background-color: #555;
}
