/* Общие стили для "ретро" эффекта */
body {
    background-color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 14px;
}

.main-container {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: #f8f8f8;
    border: 1px solid #d0d0d0;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

/* Стили для формы создания поста */
.post-form {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #d0d0d0;
    margin-bottom: 20px;
}

.post-form textarea,
.post-form input,
.post-form button {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
}

.post-form button {
    cursor: pointer;
    color: #333;
    background-color: #d0d0d0;
}

.post-form button:hover {
    background-color: #b0b0b0;
}

/* Стили для постов и комментариев */
.news-item {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #d0d0d0;
    margin-bottom: 20px;
}

.news-item img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
    height: auto;
    border: 1px solid #d0d0d0;
}

.comment {
    background-color: #f0f0f0;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #d0d0d0;
}

.post-date {
    color: #666;
    font-size: 0.8em;
}

/* Дополнительные настройки для улучшения старого вида */
a {
    color: #0000ee;
    text-decoration: underline;
}

a:hover {
    color: #ff0000;
}

.news-feed-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Стиль для выделения разделов и элементов */
textarea, input[type="file"] {
    width: 100%;
}

img.lazy-load {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  img.lazy-load[src] {
    opacity: 1;
  }

  @media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .main-container {
        margin: 5px;
        padding: 5px;
    }

    .post-form {
        padding: 5px;
    }

    .post-form input[type="text"],
    .post-form textarea,
    .post-form input[type="file"],
    .post-form button {
        padding: 5px;
        margin-top: 5px;
    }

    .news-item img {
        max-width: 100%;
        height: auto;
    }

    .post-head_title {
        font-size: 1.2em;
    }

    .post-username {
        font-size: 1em;
    }

    .post-text {
        font-size: 0.9em;
    }

    .post-date {
        font-size: 0.8em;
    }

    .comment {
        font-size: 0.9em;
    }
}