<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>MySpace Clone</title>
    <div style="justify-content: space-between; padding: 10px; background-color: #f4f4f4;">
        <div>
            <a href="{{ url_for('home.home') }}">Home</a>
        </div>
</head>
<body>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            {% for category, message in messages %}
                Toast.fire({
                icon: '{{ category }}',
                title: '{{ message }}'
                });
            {% endfor %}
            {% endif %}
        {% endwith %}
        });
        </script>

    <div style="text-align: right;">
        {% if session['username'] %}
            <a href="{{ url_for('profile.profile') }}">Profile</a>
            <a href="{{ url_for('login.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login.login') }}">Login</a>
            <a href="{{ url_for('register.register') }}">Register</a>
        {% endif %}
    </div>

    <div style="text-align: center;">
        {% block content %}{% endblock %}
    </div>
<script src="{{ url_for('static', filename='js/lazyload.js') }}"></script>
</body>
</html>
