{% extends 'base.html' %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p> <!-- Или любой другой HTML для стилизации сообщений -->
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content %}
<div class="main-container">
    <h1 class="news-feed-title">News Feed</h1>

    <!-- Форма для создания поста -->
    <div class="post-form">
        <form method="post" action="{{ url_for('posts.create_post') }}" enctype="multipart/form-data">
            <textarea name="head_title" placeholder="name of your post" class="head_title-textarea"></textarea>
            <textarea name="post_text" placeholder="What's on your mind?" class="post-textarea"></textarea>
            <input type="file" name="post_image" class="post-image-input">
            <button type="submit" class="post-submit-btn">Post</button>
        </form>
    </div>

    <!-- Фид новостей -->
    {% for post in posts %}
    <div class="news-item">
        <h3 class="post-head_title">Ttitle {{ post['head_title'] }}</h3>
        <h3 class="post-username">
            <a href="{{ url_for('profile.profile', user_id=post['post_owner_id']) }}">{{ post['username'] }}</a>
        </h3>
        {% if post['full_image_url'] %}
            <img src="{{ post['full_image_url'] }}" alt="Post image", style="max-width: 20%; max-height: 20%;">
        {% endif %}
        <p class="post-text">{{ post['text'] }}</p> <!-- Текст поста -->
        <span class="post-date">{{ post['created_at'] }} date</span> <!-- Дата создания -->
    </div>
{% endfor %}
</div>
{% endblock %}
