<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile News Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="top-bar">
            <a href="{{ url_for('home.home') }}" class="button">Home</a>
            <div class="auth-buttons">
                {% if session['username'] %}
                    <a href="{{ url_for('profile.mprofile') }}" class="button">Profile</a>
                    <a href="{{ url_for('login.logout') }}" class="button">Logout</a>
                {% else %}
                    <a href="{{ url_for('login.mlogin') }}" class="button">Login</a>
                    <a href="{{ url_for('register.register') }}" class="button">Register</a>
                {% endif %}
            </div>
        </div>
        <h1 class="news-feed-title">News Feed</h1>

        <div class="posts-container">
            {% for post in posts %}
                <div class="news-item">
                    <div class="post-header">
                        <a href="#" class="post-username">{{ post['username'] }}</a>
                        <span class="post-date">{{ post['created_at'] }}</span>
                    </div>

                    {% if post['full_image_url'] %}
                        <div class="post-image-container">
                            <img src="{{ post['full_image_url'] }}" alt="Post image">
                        </div>
                    {% endif %}

                    <div class="post-content">
                        <h3>{{ post['head_title'] }}</h3>
                        <p>{{ post['text'] }}</p>
                    </div>

                    <button class="comment-button" onclick="showCommentsPanel('{{ post['id'] }}')">Comments</button>
                </div>

                <div class="comments-panel" id="commentsPanel{{ post['id'] }}">
                    <div class="comments-content" id="commentsContent{{ post['id'] }}">
                        <!-- Динамическое добавление комментариев -->
                    </div>

                    <div class="comment-form-container">
                        <form method="post" action="{{ url_for('posts.create_comment', post_id=post['id']) }}" class="comment-form">
                            <textarea name="comment_text" placeholder="Add a comment..."></textarea>
                            <button type="submit">Comment</button>
                        </form>
                    </div>  
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var commentsPanels = document.querySelectorAll('.comments-panel');
            commentsPanels.forEach(panel => {
                var mc = new Hammer(panel);
                mc.get('swipe').set({ direction: Hammer.DIRECTION_DOWN });

                mc.on('swipe', function() {
                    panel.style.bottom = '-100%'; // Закрыть панель комментариев
                });
            });

            // Обработчик клика для закрытия панели
            document.addEventListener('click', function(event) {
                commentsPanels.forEach(panel => {
                    if (!panel.contains(event.target) && !event.target.matches('.comment-button')) {
                        panel.style.bottom = '-100%';
                    }
                });
            });
        });

        function showCommentsPanel(postId) {
            var commentsContent = document.getElementById('commentsContent' + postId);
            var commentsPanel = document.getElementById('commentsPanel' + postId);
            commentsContent.innerHTML = 'Загрузка комментариев...';
            var currentHost = window.location.host;
            var protocol = currentHost === '127.0.0.1:5000' ? 'http://' : 'https://';

            fetch(`${protocol}${currentHost}/api/get_post_comments?post_id=${postId}`)
                .then(response => response.json())
                .then(comments => {
                    commentsContent.innerHTML = comments.map(comment =>
                        `<div class="comment">
                            <a href="/users/${comment[4]}" class="comment-username">${comment[3]}</a>
                            <p class="comment-text">${comment[1]}</p>
                        </div>`
                    ).join('');
                })
                .catch(error => {
                    console.error('Ошибка при загрузке комментариев:', error);
                    commentsContent.innerHTML = 'Не удалось загрузить комментарии.';
                });

            commentsPanel.style.bottom = '0';
        }
    </script>
</body>
</html>
