<!-- templates/profile.html -->
{% extends 'base.html' %}


{% block content %}
    <h1>profile Page</h1>
    <div class="post-form">
        <form method="post" action="{{ url_for('img_avatar_update') }}" enctype="multipart/form-data">
        <input type="file" name="img_avatar" class="avatar-image-input">
        <button type="submit" class="post-submit-btn">Update Avatar</button>
    </form>
</div>
<h1>
</h1>
        {% if avatar %}
            <img src="{{ avatar }}" alt="Post image", style="max-width: 20%; max-height: 20%;"\n>
        {% endif %}
    <p>Welcome, {{ user.username }}!</p>
    {% if is_online %}
    <p>Онлайн</p>
{% else %}
    <p>Был в сети: {{ user.last_seen.strftime('%Y-%m-%d %H:%M:%S') }}</p>
{% endif %}
    <!-- Отображение другой информации о пользователе -->
    <p>Email: {{ user.email }}</p>
    <!-- Дополнительные детали профиля -->
{% endblock %}
