{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<div class="profile-page">
    <div class="avatar-section">
        <h1>Welcome, {{ user.username }}!</h1>
        {% if avatar %}
            <img src="{{ avatar }}" alt="Avatar image">
        {% endif %}
        <div class="post-form">
            <form method="post" action="{{ url_for('profile.img_avatar_update') }}" enctype="multipart/form-data">
                <input type="file" name="img_avatar" class="avatar-image-input">
                <button type="submit" class="post-submit-btn">Update Avatar</button>
            </form>
        </div>
        {% if is_online %}
            <p>Онлайн<span class="online-indicator"></span></p>
        {% else %}
            <p>Был в сети: {{ user.last_seen.strftime('%Y-%m-%d %H:%M') }}</p>
        {% endif %}
        <p>Email: {{ user.email }}</p>
    </div>
    
    <!-- Раздел с новостными постами -->
    <div class="news-feed">
        {% for post in posts %}
        <div class="news-item">
            <h3 class="post-head_title">Title {{ post['head_title'] }}</h3>
            <h3 class="post-username">
                <a href="{{ url_for('profile.profile', user_id=post['post_owner_id']) }}">{{ post['username'] }}</a>
            </h3>
            {% if post['full_image_url'] %}
            <img src="{{ post['full_image_url'] }}" alt="Post image" loading="lazy" style="max-width: 20%; max-height: 20%;">
            {% endif %}
            <p class="post-text">{{ post['text'] }}</p>
            <span class="post-date">{{ post['created_at'] }} date</span>
            <form method="post" action="{{ url_for('posts.create_comment', post_id=post['id']) }}">
                <textarea name="comment_text" placeholder="Add a comment..."></textarea>
                <button type="submit">Comment</button>
            </form>
            {% for comment in post['comments'] %}
            <div class="comment">
                <p>{{ comment[3] }}: {{ comment[1] }}</p>
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>

    <div class="additional-info">
        <!-- Friends Section -->
        {% if friends %}
        <div class="friends-section">
            <h2>Друзья:</h2>
            <ul>
                {% for friend in friends %}
                    <li class="friend-item">{{ friend }}<button class="delete-friend-btn">X</button></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Friend Requests Section -->
        {% if friend_requests %}
        <div class="friend-requests-section">
            <h3>Запросы:</h3>
            {% for request in friend_requests %}
                <div class="friend-request">
                    <p>Запрос от {{ request.sender_username }}</p>
                    <form action="{{ url_for('friends.respond_friend_request', request_id=request.request_id) }}" method="post">
                        <button name="response" value="accepted" type="submit" class="btn btn-success">Принять</button>
                        <button name="response" value="declined" type="submit" class="btn btn-danger">Отклонить</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
