{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
<div class="profile-page">
    <div class="avatar-section">
        {% if avatar %}
            <img src="{{ avatar }}" alt="Аватар пользователя" class="profile-avatar">
        {% endif %}
        <h1 class="welcome-message">Профиль пользователя: {{ user.username }}</h1>
        <div class="user-info">
            {% if is_online %}
                <p>Онлайн<span class="online-indicator"></span></p>
            {% elif user.last_seen %}
                <p>
                    {% with last_seen_time=user.last_seen %}
                        {% with time_diff=current_time - last_seen_time %}
                            {% if time_diff.days == 0 %}
                                {{ "Сегодня в " }}{{ last_seen_time.strftime('%H:%M') }}
                            {% elif time_diff.days == 1 %}
                                {{ "Вчера в " }}{{ last_seen_time.strftime('%H:%M') }}
                            {% elif time_diff.days == 2 %}
                                {{ "Позавчера в " }}{{ last_seen_time.strftime('%H:%M') }}
                            {% else %}
                                {{ "Был " }}{{ last_seen_time.strftime('%d.%m.%y в %H:%M') }}
                            {% endif %}
                        {% endwith %}
                    {% endwith %}
                </p>
            {% else %}
                <p>Время последней активности неизвестно</p>
            {% endif %}
            <p>Email: {{ user.email }}</p>
            <form action="{{ url_for('friends.add_friend', user_id2=user.id) }}" method="post" class="post-form">
                <button type="submit" class="btn btn-success">Добавить в друзья</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
